<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "be.kirby317.www"
        versionCode="1" 
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->

    <icon src="icon.png" />
    
    <name>Portfoliapp</name>

    <description>
        A description
    </description>

    <author href="" email="">
        lucas kostenko 
    </author>

</widget>